body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    background-size: 100%;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr, 3fr;
    grid-template-rows: 50%, 50%;
    grid-template-areas: "side colors"
        "side images";
    margin: 50px;
    gap: 50px;
}

img {
    width: 200px;
    border: 1px, black, solid;
    border-radius: 7px;
}

img:hover {
    transform: scale(1.04);
}

aside {
    display: flex;
    grid-area: side;
    width: 300px;
    flex-direction: column;
    justify-content: center;
    direction: rtl;
    background-color: #ecc3c25b;
    height: 130%;
}

#clrs {
    grid-area: colors;
}

#imgs {
    grid-area: images;
}

section{
    font-size: xx-large;

}
il{
    display: none;
    font-size: medium;
    text-decoration: n;
}
#store:hover il{
display: block;
}